<h1>Many cats</h1>

<ul>
  {{#each cats}}
    <li>
      <a href="/cats/{{this._id}}">
        {{this.name}}
      </a>
      <a href="/cats/{{this._id}}/delete">Delete !</a>
      <a href="/cats/{{this._id}}/update">Update !</a>
    </li>
  {{/each}}
</ul>