<form method="POST" action="/users">

  <h2>FOrm</h2>

  <div>
    <label for="name">Name</label>
    <input type="text" id="name" name="name" />
    <input type="hidden" name="color" value="10101" />
  </div>
  <button>Submit</button>
</form>