.parent {
  display: flex;
  background-color: purple;
  /* height: 100vh; */
  /* flex-direction: row is the default flex property */
  flex-direction: row;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* justify-content: flex-start; */
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  /* height: 100vh; */
  align-items: center;
  /* flex-wrap: wrap; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: stretch; */
}

.block {
  width: 100px;
  height: 100px;
  background-color: dodgerblue;
  margin-right: 10px;
  margin-top: 10px;
}
