.App {
  min-height: 100vh;
}

.App__main {
  min-height: calc(100vh - 70px);
  /* https://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height */
  height: 1px;
}
