<ul id="phone-list">

</ul>

<button id="fetch-phone">Get the phones</button>

<form id="form-update">
  <h2>Update form</h2>

  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" />
  </div>

  <button id="btn-update-phone">Update</button>

</form>

<form id="form-create">
  <h2>Create a phone !</h2>

  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" />
  </div>

  <button id="btn-create">Create</button>

</form>